body {
  background-color: pink;
}
.table-container {
  margin: 0 auto;
}

.table-container tr {
  border-radius: 10px;
}
.table-container tr > td {
  border: 1px solid red;
  width: 2.6667rem;
  /* height: 2.6667rem; */
  font-size: 0.2667rem;
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
